
header {}
header .util {
    width: 100%;
    height: 48px;
    background-color: var(--main);
}
header .util ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .util ul li {}
header .util ul li a {
    display: inline-block;
    padding: 0 20px;
}

header .main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
header .main-menu .icon-box {
    padding: 32px;
}
header .main-menu .icon-box a {
    font-size: 32px;
}
header .main-menu nav {}
header .main-menu #gnb {
    display: flex;
    align-items: center;
}
header .main-menu #gnb li {}
header .main-menu #gnb li a {
    display: inline-block;
    padding: 0px 40px;
    height: 80px;
    line-height: 80px;
}

/* container */
.container {
    width: 800px;
    min-height: 400px;
    margin: 0 auto;
}

/* section - main */
#main {}
#main .slide {}
#main .slide .item {
    display: flex;
    align-items: center;
}
#main .slide .item img { 
    width: 100%; 
    height: 480px;
    object-fit: cover;
}
/* 슬라이드 - 화살표 */
.slick-prev:before, .slick-next::before {
    color: lightgray;
    font-size: 24px;
}

/* section - recent */
#recent { background-color: var(--main); }
#recent .card-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px;
}
#recent .card-list .card {
    width: 220px;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#recent .card-list .card .img-box {
    height: 180px;
}
#recent .card-list .card .img-box a {}
#recent .card-list .card .img-box a img { 
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

#recent .card-list .card .content-box {
    padding: 12px;
}
#recent .card-list .card .content-box .title { 
    text-align: center;
    margin-bottom: 10px;
}
#recent .card-list .card .content-box .info { 
    font-size: 12px;
    margin-bottom: 10px;
}
#recent .card-list .card .content-box .etc-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#recent .card-list .card .content-box .etc-box .item {}
#recent .card-list .card .content-box .etc-box .item .date { 
    font-size: 14px; 
    color: lightgray;
}
#recent .card-list .card .content-box .etc-box .item a {}